body{
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
/* First Section style part */
.flexible-container1{
    display: flex;
    margin-top: 50px;
}
.first-header{
    width: 100%;
    margin-left: 20%;
    
}
.first-header h1{
    font-size: 150px;
    
    color:lightcoral;
}
/* First Section Style part end */

/*Second section style part start */
.flexible-container2{
    display: flex;
    margin-top: 100px;
}
.half-width2{
    width: 50%;
}
#menu{
    margin-top: 50px;
}
.half-width2 img{
    width: 15%;
    padding-left: 20%;
}
.half-width2 a{
    text-decoration: none;
    padding: 30px;
    font-size: x-large;
}

/* second section style part end */

/* thrid section style part start */
.flexible-container3{
    display: flex;
    margin-top: 50px;
}
.half-width3{
    width: 50%;
    margin-left: 5%;
    margin-top: 2%;
}
.half-width3 h1{
    font-size: 100px;
    
    color: gray;
}
.color-font{
    color: darkorange;
}
.half-width3 p{
    font-size: x-large;
    font-weight: 600;
    color: gray;
}
.half-width3 a{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    font-size: x-large;
    font-weight: 600;
    padding: 20px 60px;
    border-radius: 40px;
    display: inline-block;
    margin-top: 50px;

}
.half-width3 img{
    width: 80%;
}
/* thrid section style part end */

/* Fourth section style part start */

.flexible-container4{
    display: flex;
    margin-top: 100px;
}
 .about-part{
    background-image: url(./images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;  
} 
.half-width4{
    width: 50%;
    margin-top: 100px;
    
    
}
#width-area4{
    
    padding-right: 2%;
}

.half-width4 img{
    width: 75%;
    height: 98%;
    margin-left: 16%;
   
}
.half-width4 h2{
    font-size: 50px;
    font-weight: 800;
    color: gray;
}
.half-width4 p{
    text-align: justify;
    font-size: larger;

}
.half-width4 a{
    text-decoration: none;
    font-size: xx-large;
    font-weight: 700;
    background-image: linear-gradient(darkorange, tomato);
    padding: 20px 40px;
    border-radius: 40px;
    display: inline-block;
    margin-top: 50px;
}
/* Fourth section style part end */

/* Fifth section style part start */
.container5{
    margin-top: 100px;

}
.header-box5{
    width: 90%;
    margin: 0 auto;
}
.header5{
    font-size: 60px;
    text-align: center;
    color: gray;
}
.header-box5 p{
    font-size: larger;
    font-weight: 500;
    text-align: center;
}

.flexible-container5{
    display: flex;
    margin-top: 50px;
    margin-left: 3%;
    margin-right: 2%;
    
}
.half-width5{
    width: 32%;
    margin: 2%;
    padding: 50px;
    box-shadow: 10px 10px 5px 5px gainsboro;
    border-radius: 20px;
    
}
.half-width5 img{
    width: 100%;
    
}
.soup-pic{
    width: 400px;
    height: 400px;
}
.salad-pic{
    width: 400px;
    height: 400px;
}
.meatloaf-pic {
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

/* Fifth section style part end */
    
